<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.slashb410.exgroup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".util.CameraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.join.Input1Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.join.Input2Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.join.InputInit1Activity" />
        <activity
            android:name=".ui.mypage.MyHomeActivity"
            android:label="@string/mypage" />
        <activity android:name=".ui.join.InputInit2Activity" />
        <activity
            android:name=".ui.group.create.GroupAddActivity"
            android:label="@string/group_add" />
        <activity android:name=".ui.group.room.GroupHomeActivity" />
        <activity android:name=".ui.group.create.GroupWaitingActivity" />
        <activity
            android:name=".ui.EnterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.PushSettingActivity"
            android:label="@string/settings_push" />
        <activity
            android:name=".ui.settings.AccountSettingActivity"
            android:label="@string/settings_account" />
        <activity
            android:name=".ui.settings.ToDeveloperActivity"
            android:label="@string/settings_to_dev" />
        <activity android:name=".ui.group.create.WeightCheckActivity" />
        <activity
            android:name=".ui.Home2Activity"
            android:label="@string/title_activity_home2_acrivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.write.WriteExcerciseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.write.WriteMealActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.write.WriteWeightActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.group.room.tabs.comments.GroupShotsCommentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mypage.DeveloperMessage"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>